.startBtn {
    position: absolute;
    top: 30%;
    left: 30%;
}

.stopBtn {
    position: absolute;
    top: 30%;
    left: 59%;

}

.email {
    top: 40%;
    position: relative;
    margin-left: 14%;
}

.pass {
    top: 40%;
    margin-left: -5%;
    margin-right: -10%;
    position: absolute;
}

.add {
    position: absolute;
    top: 80%;
    left: 23%;
}

.del {
    position: absolute;
    top: 80%;
    left: 52%;
}

.fields {
    position: absolute;
    top: 50%;
}

.text {
    position: relative;
    top: 65%;
    text-align: center;
}


#titlebar #drag-region {
    background-color: #000;
    width: 100%;
    height: 6%;
    -webkit-app-region: drag;
}

#titlebar {
    font-size: 13px;
    text-align: center;
    color: #fff;
}
